
.vs/Project1/v15/.suo
.vs/Project1/v15/Browse.VC.db
.vs/Project1/v15/Browse.VC.opendb
Debug/Project1.exe
Debug/Project1.pdb
Debug/Project1.txt
Project1.sln
Project1/Debug/main.obj
Project1/Debug/Project1.Build.CppClean.log
Project1/Debug/Project1.log
Project1/Debug/Project1.tlog/link.command.1.tlog
Project1/Debug/Project1.tlog/link.read.1.tlog
Project1/Debug/Project1.tlog/link.write.1.tlog
Project1/Debug/Project1.tlog/Masm.read.1u.tlog
Project1/Debug/Project1.tlog/Masm.write.1u.tlog
Project1/Debug/Project1.tlog/Project1.lastbuildstate
Project1/GitPull.bat
Project1/GitPush.bat
Project1/oldfuncs.inc
Project1/Project1.vcxproj
Project1/Project1.vcxproj.filters
Project1/Project1.vcxproj.user
